<!-- =============== CSS =============== -->
<link rel="stylesheet" href="/src/styles" />
<script src="/src/js/"></script>
<aside class="profile container">
  <!-- Theme button -->
  <!--<i class="ri-moon-line change-theme" id="theme-button"></i> -->

  <div class="profile__container grid">
    <div class="profile__data">
      <div class="profile__border">
        <div class="profile__perfil">
          <!-- Insert your image, according to the example size of the portfolio -->
          <img src="assets/img/azis.png" alt="" />
        </div>
      </div>

      <h2 class="profile__name">Mukhamad Azis Tholib</h2>
      <h3 class="profile__profession">Just Human</h3>

      <ul class="profile__social">
        <a
          href="https://www.instagram.com/hi_ajiss/"
          target="_blank"
          class="profile__social-link"
        >
          <i class="ri-instagram-line"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/mukhamad-at/"
          target="_blank"
          class="profile__social-link"
        >
          <i class="ri-linkedin-box-line"></i>
        </a>
        <a
          href="https://github.com/mukhamadazistholib"
          target="_blank"
          class="profile__social-link"
        >
          <i class="ri-github-line"></i>
        </a>
        <a
          href="https://galaxy-pedia.blogspot.com"
          target="_blank"
          class="profile__social-link"
        >
          <i class="ri-bookmark-line"></i>
        </a>
      </ul>
    </div>

    <div class="profile__info grid">
      <div class="profile__info-group">
        <h3 class="profile__info-number">2</h3>
        <p class="profile__info-description">
          Years of <br /> work
        </p>
      </div>
      <div class="profile__info-group">
        <h3 class="profile__info-number">+84</h3>
        <p class="profile__info-description">
          Completed <br /> projects
        </p>
      </div>
      <div class="profile__info-group">
        <h3 class="profile__info-number">68</h3>
        <p class="profile__info-description">Satisfied <br /> customers</p>
      </div>
    </div>

    <div class="profile__buttons">
      <!-- Insert your CV -->
      <a
        download=""
        href="assets\pdf\CV-Mukhamad Azis Tholib.pdf"
        class="button"
      >
        Download CV <i class="ri-download-line"></i>
      </a>

      <div class="profile__buttons-small">
        <!-- Insert a real number plus country code -->
        <a
          href="https://api.whatsapp.com/send?phone=6285755796211&text=Hello, would you join to our company?"
          target="_blank"
          class="button button__small button__gray"
        >
          <i class="ri-whatsapp-line"></i>
        </a>
        <!-- Insert your brand name or profile -->
        <a
          href="https://t.me/6285755796211"
          target="_blank"
          class="button button__small button__gray"
        >
          <i class="ri-telegram-line"></i>
        </a>
      </div>
    </div>
  </div>
</aside>
