<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--=============== FAVICON ===============-->
  <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon" />

  <!--=============== REMIX ICONS ===============-->
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
    rel="stylesheet"
  />

  <!-- =============== CSS =============== -->
  <link rel="stylesheet" href="/src/styles" />
  <script src="/src/js"></script>

  <title>The Brief History of Me</title>
</head>
<header class="profile container">
  <h2 class="title">Hi There!</h2>
  <i class="ri-moon-line change-time" id="theme-button"></i>
  <nav>
    <a href="#">
      <button> Contact </button>
    </a>
  </nav>
</header>
