<!-- =============== CSS =============== -->
<link rel="stylesheet" href="/src/styles" />
<main class="main">
  <section class="filters container">
    <!--=============== FILTERS TABS ===============-->
    <ul class="filters__content">
      <button class="filters__button filter-tab-active" data-target="#projects">
        Projects
      </button>
      <button class="filters__button" data-target="#skills"> Skills </button>
      <button class="filters__button" data-target="#certification">
        Certification
      </button>
    </ul>

    <div class="filters__sections">
      <!--=============== PROJECTS ===============-->
      <div
        class="projects__content grid filters__active"
        data-content
        id="projects"
      >
        <article class="projects__card">
          <!-- Insert your image in a rectangular format (Ex: 600 x 400, 1000 x 800, 1200 x 1000, etc) -->
          <img src="assets/img/project1.jpg" alt="" class="projects__img" />

          <div class="projects__modal">
            <div>
              <span class="projects__subtitle">Web</span>
              <h3 class="projects__title">Joglo Batik Suminar</h3>
              <a
                href="https://joglobatiksuminar.com/"
                class="projects__button button button__small"
              >
                <i class="ri-link"></i>
              </a>
            </div>
          </div>
        </article>

        <article class="projects__card">
          <img src="assets/img/project2.jpg" alt="" class="projects__img" />

          <div class="projects__modal">
            <div>
              <span class="projects__subtitle">Web</span>
              <h3 class="projects__title">Portfolio Website</h3>
              <a
                href="https://www.lukyprimadani.com/"
                class="projects__button button button__small"
              >
                <i class="ri-link"></i>
              </a>
            </div>
          </div>
        </article>

        <article class="projects__card">
          <img src="assets/img/project3.jpg" alt="" class="projects__img" />

          <div class="projects__modal">
            <div>
              <span class="projects__subtitle">Web</span>
              <h3 class="projects__title">FoodBank Website</h3>
              <a href="#" class="projects__button button button__small">
                <i class="ri-link"></i>
              </a>
            </div>
          </div>
        </article>

        <article class="projects__card">
          <img src="assets/img/project4.jpg" alt="" class="projects__img" />

          <div class="projects__modal">
            <div>
              <span class="projects__subtitle">Movil</span>
              <h3 class="projects__title">Travel app</h3>
              <a href="#" class="projects__button button button__small">
                <i class="ri-link"></i>
              </a>
            </div>
          </div>
        </article>

        <article class="projects__card">
          <img src="assets/img/project5.jpg" alt="" class="projects__img" />

          <div class="projects__modal">
            <div>
              <span class="projects__subtitle">Design</span>
              <h3 class="projects__title">Music app design</h3>
              <a href="#" class="projects__button button button__small">
                <i class="ri-link"></i>
              </a>
            </div>
          </div>
        </article>

        <article class="projects__card">
          <img src="assets/img/project4.jpg" alt="" class="projects__img" />

          <div class="projects__modal">
            <div>
              <span class="projects__subtitle">Web</span>
              <h3 class="projects__title">To do app</h3>
              <a
                href="https://mukhamadazistholib.github.io/"
                class="projects__button button button__small"
              >
                <i class="ri-link"></i>
              </a>
            </div>
          </div>
        </article>
      </div>

      <!--=============== SKILLS ===============-->
      <!-- FRONT END -->
      <div class="skills__content grid" data-content id="skills">
        <div class="skills__area">
          <h3 class="skills__title">Frontend Developer</h3>

          <div class="skills__box">
            <div class="skills__group">
              <div class="skills__data">
                <i class="ri-checkbox-circle-line"></i>

                <div>
                  <h3 class="skills__name">HTML</h3>
                  <span class="skills__level">Advanced</span>
                </div>
              </div>

              <div class="skills__data">
                <i class="ri-checkbox-circle-line"></i>

                <div>
                  <h3 class="skills__name">CSS</h3>
                  <span class="skills__level">Advanced</span>
                </div>
              </div>

              <div class="skills__data">
                <i class="ri-checkbox-circle-line"></i>

                <div>
                  <h3 class="skills__name">JavaScript</h3>
                  <span class="skills__level">Intermediate</span>
                </div>
              </div>
            </div>

            <div class="skills__group">
              <div class="skills__data">
                <i class="ri-checkbox-circle-line"></i>

                <div>
                  <h3 class="skills__name">React</h3>
                  <span class="skills__level">Intermediate</span>
                </div>
              </div>

              <div class="skills__data">
                <i class="ri-checkbox-circle-line"></i>

                <div>
                  <h3 class="skills__name">Bootstrap</h3>
                  <span class="skills__level">Intermediate</span>
                </div>
              </div>

              <div class="skills__data">
                <i class="ri-checkbox-circle-line"></i>

                <div>
                  <h3 class="skills__name">Git</h3>
                  <span class="skills__level">Intermediate</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- BACK END -->
        <div class="skills__area">
          <h3 class="skills__title">Backend Developer</h3>

          <div class="skills__box">
            <div class="skills__group">
              <div class="skills__data">
                <i class="ri-checkbox-circle-line"></i>

                <div>
                  <h3 class="skills__name">PHP</h3>
                  <span class="skills__level">Intermediate</span>
                </div>
              </div>

              <div class="skills__data">
                <i class="ri-checkbox-circle-line"></i>

                <div>
                  <h3 class="skills__name">MySQL</h3>
                  <span class="skills__level">Advanced</span>
                </div>
              </div>

              <div class="skills__data">
                <i class="ri-checkbox-circle-line"></i>

                <div>
                  <h3 class="skills__name">Firebase</h3>
                  <span class="skills__level">Intermediate</span>
                </div>
              </div>
            </div>

            <div class="skills__group">
              <div class="skills__data">
                <i class="ri-checkbox-circle-line"></i>

                <div>
                  <h3 class="skills__name">Python</h3>
                  <span class="skills__level">Intermediate</span>
                </div>
              </div>

              <div class="skills__data">
                <i class="ri-checkbox-circle-line"></i>

                <div>
                  <h3 class="skills__name">Node Js</h3>
                  <span class="skills__level">Intermediate</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--=============== CERTIFICATION ===============-->
      <div class="certification__content grid" data-content id="certification">
        <article class="projects__card">
          <!-- Insert your image in a rectangular format (Ex: 600 x 400, 1000 x 800, 1200 x 1000, etc) -->
          <img
            src="assets\img\sert azure fund.png"
            alt=""
            class="projects__img"
          />

          <div class="projects__modal">
            <div>
              <span class="projects__subtitle">Microsoft</span>
              <h3 class="projects__title">Azure Fundamentals</h3>
              <a
                href="https://www.credly.com/badges/f9c46594-bb53-4c44-bf8c-1cf9a391c6e6/public_url"
                class="projects__button button button__small"
              >
                <i class="ri-link"></i>
              </a>
            </div>
          </div>
        </article>

        <article class="projects__card">
          <!-- Insert your image in a rectangular format (Ex: 600 x 400, 1000 x 800, 1200 x 1000, etc) -->
          <img
            src="assets\img\sert azure data.png"
            alt=""
            class="projects__img"
          />

          <div class="projects__modal">
            <div>
              <span class="projects__subtitle">Microsoft</span>
              <h3 class="projects__title">Azure Data Fundamentals</h3>
              <a
                href="https://www.credly.com/badges/b475acb8-0f2a-4df6-bbb9-69ed2853792c/public_url"
                class="projects__button button button__small"
              >
                <i class="ri-link"></i>
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
